/**
*  DRAGSTER CSS
*  @autor: pikdo
*  @date: 14/10/2021  
*/

:root {
    /* Colores */
    --principal: #df3314;
    --secundary: #1581c0;
    --black: #333;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* para usar medidas rem*/
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth; /*Para crear una smooth scrolling*/
}
body {
    background-color: var(--black);
    touch-action: manipulation;
}

header {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 70px;
}
.header-title {
    height: 70px;
    background-color: var(--black);
}

.header-title p {
    display: inline-flex;
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 70px;
}

.header-title__dragster {
    color: var(--principal);
    margin-left: 10px;
}
.header-title__race {
    color: var(--secundary);
    margin-left: 5px;
}

main {
    width: 100%;
    background-color: var(--black);
}

.main-container {
    width: 100%;
    min-width: 320px;

    height: 100%;
    min-height: 85vh;
    max-height: 925px;

    background: no-repeat center/cover url(img/home.png);
    text-align: center;
}
